.middle-part {
    width: 100%;
    height: 150vh;
}
.middle-part .layer_back_img {
    width: 100%;
    height: 150vh;
}

.middle-part .layer_middle_img {
    width: 100%;
    height: 120vh;

    background-image: 100% 100%;
    transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    align-items: center;

    width: 100%;
    height: 150vh;

    font-size: calc(var(--index));
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    text-transform: uppercase;
}

.text-box h2 {
    color: rgb(30, 29, 28);
    padding: 1em;
}

.main-text-box {
    grid-column: 2; 
    background: radial-gradient( rgba(17, 17, 17, 0.7) 30%,  rgba(0, 0, 0, 0) 70%);
}

.middle-part::after {
    bottom: -170vh;
    --height-transition: calc(337px / 1.5);
    height: var(--height-transition);
    background-image: url("../images/mid_transition.png");
    background-size: 100% var(--height-transition);
}

@media (min-width: 2000px) {
    .middle-part::after {
        bottom: -162vh;
        --height-transition: calc(337px / 1);
    }
}

@media (max-width: 2000px) {
    .middle-part::after {
        bottom: -160vh;
    } 
}

@media (max-height: 1200px) {
    .middle-part::after {
        bottom: -170vh;
    }
}

@media (max-width: 1200px) {
    .middle-part::after {
        bottom: -157vh;
        --height-transition: calc(337px / 2);
    }
}