@font-face {
    font-family: "Tana Uncial SP";
    src: url("../fonts/TANAUNCIALSP.OTF");
    font-style: normal;
    font-weight: normal;
}

:root {
    box-sizing: border-box;

    font-size: calc(0.5em + 0.8vw);
    font-family: "Tana Uncial SP";

    --textColor: rgb(57, 34, 13);
    --index: calc(1vh + 1vw);
    --mainHeaderSize: 2.2em;
}

*, 
::after, 
::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;   
}


body {
    color: var(--textColor);
}

body a {
    color: rgb(198, 149, 80);
    text-decoration: none;
}

body li>a:hover {
    color: rgb(146, 105, 49);
    text-decoration: underline;
}